name: CI
on: [push, pull_request]

env:
  VERSION_MDBOOK: 0.4.52

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    permissions:
      contents: read  # Read repo
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        run: |
          rustup set profile minimal
          rustup toolchain install stable
          rustup default stable
      - name: Install latest mdbook
        run: |
          url="https://github.com/rust-lang/mdbook/releases/download/v${VERSION_MDBOOK}/mdbook-v${VERSION_MDBOOK}-x86_64-unknown-linux-gnu.tar.gz"
          mkdir bin
          curl -sSL $url | tar -xz --directory=bin
          echo "$(pwd)/bin" >> $GITHUB_PATH
      - name: Run tests
        run: mdbook test
